/* Container */
.content-box {
    text-align: center;
    padding: 20px;
    margin: 30px auto;
    width: 80%;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Header Background */
  
  
  /* Titles */
  .title {
    /* width: 357px; */
    width: 50%;
    
    background: #293241;
    border-radius: 50px;
    margin: 20px auto;
    text-align: center;
    color: white;
    top: -10%;
    font-size: 40px;
    font-family: "Open Sans", sans-serif;
    font-weight: 750;
    word-wrap: break-word;
    margin: 20px auto;
    align-items: center;
  }
  

  